.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 12px;
    color: #4a5568;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #f8f7fc;
    color: #6b46c1;
}

.nav-item.active {
    background-color: #6b46c1;
    color: white;
}

.nav-item i {
    width: 24px;
    margin-right: 12px;
}

.sidebar-divider {
    height: 1px;
    background-color: #e2e8f0;
    margin: 20px 0;
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e8f0;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6b46c1;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


/*music*/
.audio-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

#audioPlayer {
    display: none;
}

.audio-icon {
    font-size: 25px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.audio-icon:hover {
    transform: scale(1.1);
}